@page "/import"
@using DataLibrary
@using BlazorServer.Models
@using System.IO;
@using Microsoft.Extensions.Configuration
@inject IDatabaseAccess data
@inject IConfiguration config
<h3>Import</h3>
@if(tradeRoutes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var t in tradeRoutes)
    {
        <p>@t.Location</p>
    }
}
<p>@directoryString</p>
<button class="btn btn-primary" @onclick="ImportFile">Import</button>


@code {
    List<ItemRoutes> tradeRoutes;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(Directory.GetCurrentDirectory().ToString());
        string sql = "select * from itemroutes";
        tradeRoutes = await data.LoadData<ItemRoutes, dynamic>(sql, new { }, config.GetConnectionString("default"));
        UpdateString();
    }

    string directoryString;
    void UpdateString()
    {
        directoryString = data.GetDirectory();
    }

    void ImportFile()
    {
        data.ImportAll(config.GetConnectionString("default"));
    }


}
